* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(243, 244, 246) !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.logo {
  font-family: 'Cabin', sans-serif;
  font-size: large;
}

.navbar {
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0 25px;
  opacity: 0.75;
  font-size: smaller;
}

.navbar-link:hover,
.navbar-link.active {
  opacity: 1;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  font-size: larger;
  margin-right: 18px;
  transition: all 0.5s linear 0s;
  padding-top: 5px;
}

.fa-linkedin:hover {
  color: rgb(10, 102, 194);
  transform: scale(1.2);
  transition: all 0.3s linear 0s;
}

.fa-envelope:hover {
  color: rgb(76, 139, 245);
  transform: scale(1.2);
  transition: all 0.3s linear 0s;
}

.fa-github:hover {
  color: #454749;
  transform: scale(1.2);
  transition: all 0.3s linear 0s;
}

.fa-envelope, .fa-github, .fa-linkedin {
  margin-top: 8px;
}

.contact {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: transparent;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  padding: 3px 8px 5px 8px;
}


.contact:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}