* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #E3E5FA !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* Nav bar */
.logo {
  font-family: 'Cabin', sans-serif;
  font-size: large;
}

.navbar {
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

.navbar-link {
  font-weight: 400;
  letter-spacing: 0.8px;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0 25px;
  opacity: 0.75;
  font-size: smaller;
}

.navbar-link:hover,
.navbar-link.active {
  opacity: 1;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  font-size: larger;
  margin-right: 18px;
  transition: all 0.5s linear 0s;
  padding-top: 5px;
}

.fa-linkedin:hover, .fa-envelope:hover, .fa-github:hover {
  color: white;
  background-color: rgb(10, 102, 194);;
  border-color: transparent;
  transition:  0.2s ease-in-out;
}

.fa-envelope, .fa-github, .fa-linkedin {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #393737;
}

.contact {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: transparent;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  padding: 3px 8px 5px 8px;
}

.contact:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}


/* Banner */

.banner {
  margin-top: 0;
  padding-top: 100px;
}

.align-item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
      transform: translateY(-10px);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(-10px);
  }
}